#hotscroll{
    height:340px;padding:15px 20px;
    overflow-y:hidden;
    transition:1s all;
    .ant-upload-list{
        display:flex;
        flex-wrap: wrap;
        position:relative;
        left:-870%;
        top:-30px;
        width:1000%;
        >.ant-upload-list-item-done{
            width:65px;
            margin-right: 10px;
        }
    }
}
#hotscroll:hover{
    overflow-y: auto
}

.scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar::-webkit-scrollbar-track-piece {
    background-color: #fff;
  } /* 滚动条的内层滑轨背景颜色 */

  .scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
  } /* 滚动条的外层滑轨背景颜色 */

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4d8e2;
  } /* 滚动条的内层滑块颜色 */

  .scrollbar::-webkit-scrollbar-button {
    background-color: #fff;
    display: none;
  } /* 滑轨两头的监听按钮颜色 */


.ant-upload-list-item:hover .anticon-cross{
    background: rgb(248, 86, 11);
    color: #fff;
    display: block;
    font-size: 16px!important;
    font-weight: bold;
    border-radius: 50%;
    top:1px;
    right: 1px;
}